.task-container {
    background-color: #282a36;
    margin: 8px 0;
    padding: 15px 20px;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    color: #ed76c3;
    align-items: center;
}

.task-title {
    cursor: pointer;
}

.button-container {
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.remove-task-button, .info-task-button {
    background-color: #282a36;
    border: none;
    font-size: 22px;
    color: #ed76c3;
    cursor: pointer;
    margin-left: 8px;
}
