.task-info-container {
    background-color: #282a36;
    margin: 15px 0;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    color: #eee;
    border-radius: 5px;
}

.task-info-container h2 {
    margin-bottom: 5px;
    color: #ed76c3;
}

.back-button-container {
    width: 30%;
    margin-top: 10px;
}